.mobileMenuContainer {
  position: relative;
}

.mobileMenu {
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.closed {
  display: none;
}

.mobileMenuHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bgRed {
  background-color: red;
}

.navLinks {
  padding-bottom: 0.5rem;
}

.navLinks li {
  list-style: none;
  padding: 0.5rem 0;
  text-align: center;
}

.navLinks li:hover {
  background-color: lightgreen;
}

.navLinks a {
  text-decoration: none;
  color: black;
}

.cartContainer {
  border-top: 1px solid lightgray;
  text-align: center;
  padding: 0.5rem 0;
}

.cartContainer > * {
  margin: 0.3rem 0;
}

@media screen and (min-width: 769px) {
  .mobileMenuContainer {
    display: none;
  }
}
